services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_DB=keycloak_token_status_plugin
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    networks:
      - keycloak-net

  keycloak-token-status-plugin:
    image: quay.io/keycloak/keycloak:26.2.4
    command: >
      start-dev --features=oid4vc-vci --log-level=debug
      --db=postgres --db-username=admin --db-password=admin
      --db-url=jdbc:postgresql://postgres:5432/keycloak_token_status_plugin
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    volumes:
      - ./target/keycloak-token-status-plugin-1.0.0-SNAPSHOT.jar:/opt/keycloak/providers/keycloak-token-status-plugin-1.0.0-SNAPSHOT.jar
    depends_on:
      - postgres
    networks:
      - keycloak-net

networks:
  keycloak-net:
    driver: bridge
